h1{
  color: azure;
  background-color: black;
  text-decoration: underline;
  text-align: center;
  
}
h2{
  color:grey;
  background-color: black;
  text-decoration: ;border: groove;
  text-align: center;

}
body{
  text-align: center;
}