h1{
  color: azure;
  background-color: black;
  text-decoration: underline;
  text-align: center;
  
}
h2{
  color:grey;
  background-color: black;
  text-decoration: ;border: groove;
  text-align: center;

}
body{
  text-align: center;
  background-color: blue;

}
p{
  color:white;
  text-decoration: unset;
  text-decoration: whitesmoke;
}
@media screen and (min-width:400px)
body{
  backgroun-color: green;
  color:blank;
}